/* CSS 리셋 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  /* ----- FAQ 영역 ----- */
  
  .faq .accordion {
    width: 100%;
    max-width: 750px;
    margin: 60px auto;
  }
  .accordion li {
    list-style: none;
    width: 100%;
    padding: 5px;
  }
  .accordion li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 25px;
    font-weight: 500;
    background: #303030;
    margin-bottom :2px;
    cursor: pointer;
    position: relative;
  }
  .accordion li label::after {
    content: '\2b';
    font-size: 40px;
    position: absolute;
    right: 20px;  
    transition: 0.5s;
  }
  .accordion input[type="radio"] {
    display: none;
  }
  .accordion .content {
    background: #3b3b3b;
    font-size: 22px;
    line-height: 1.6;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
  }
  .accordion input[type="radio"]:checked + label + .content {  /* input[type="radio"]에 체크하면 */
    max-height: 600px;
    padding: 30px 20px;
  }
  .accordion input[type="radio"]:checked + label::after {  /* input[type="radio"]에 체크하면 */
    transform: rotate(-135deg);
  }
  .newsletter {
    padding: 20px 10%;
  }
  
  /* ------ 푸터 영역 ------ */
  footer {
    padding: 60px 10%;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
  }
  .footer-content a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    text-decoration: none;
  }
  .left {
    flex-basis: 60%;
  }
  .center,
  .right {
    flex-basis: 20%;  
    vertical-align: top;
  }
  .col h2 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 32px;
    margin-bottom: 20px;
  }
  .col h3 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 26px;
    margin-bottom: 20px;
  }
  .footer-nav {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin-bottom: 40px;
  }
  .footer-nav li:not(:last-child) {
    padding-right: 20px;
    border-right: 1px solid #eee;
  }
  .footer-info {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.7);
  }
  .socials {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    list-style: none;
  }
  .socials a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
  }
  .copyright {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
  } 
  .footer-content p {
    font-size: 14px;
    line-height: 0.6;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
  }
  
  /* ---- 반응형 (푸터) ---- */
  @media only screen and (max-width: 768px) {
    .footer-content {
      display: flex;
      flex-direction: column;
    }
    .col {
      flex-basis: 100%;
    }
    .col h2 {
      color: rgba(255, 255, 255, 0.7);
      font-size: 28px;
      margin-bottom: 20px;
    }
    .col h3 {
      color: rgba(255, 255, 255, 0.7);
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
  